<!-- No DOCTYPE ohno? What am I? -->
<html>
  <head>
    <title>Welcome to The FunderDOM</title>
    <style>
      .stripe {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>F under DOM</h1>
      <div class='messages'>
      </div>
      <hr></hr>
    </header>
    <section id='main'>
      <nav>
        <ul>
          <li><a href="accordian.html">accordian</a></li>
          <li>Blog</li>
          <li>Contact</li>
        </ul>
      </nav>
      <div id='colorTarget'>

      </div>

      <button id="reset">CLICK ME</button>
    </section>

      <script id="newTemplate" type='text/template'>
        <p><%= color %></p>
      </script>

      <script id='nameTemplate' type='text/template'>
        <p><%= name %></p>
      </script>
      
      
    <!-- Try to add some extra space between the end of the site and the start of the script tags -->
    
    
    <script src="jquery/dist/jquery.js"></script>
    <script src='underscore/underscore.js'></script>
    <script src='scripts/main.js'></script>
    <script src='scripts/funQuery.js'></script>
  </body>
</html>
